@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.app-container {
  width: 428px;
  height: 926px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

.logo h1 {
    color: var(--Primary8, #DF2E4D);
    font-family: Poppins;
    font-size: 18.014px;
    font-style: normal;
    font-weight: 700;
    user-select: none;
}

.titulo-pagamento h1{
    color: var(--Primary8, #0B090A);
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    user-select: none;
}

.titulo-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 30px;
    margin-bottom: 19px;
}

.imagens {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
    gap: 111px;
}

.form-pagamento{
    margin-top: 29px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.form-pagamento label{
    color: var(--Primary8, #000000);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    user-select: none;
}

input {
  width: 362px;
  padding: 16px 12px;
  border-radius: 8px;
  color: var(--shade3, #858484);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
}

.small-input {
  padding: 12px;
  width: 128px;
}

.nome{
    color: #0B090A;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.input-group {
  display: flex;
  gap: 98px;

}

.input-group input{
  width: 128px;
  align-items: center;
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.total {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 255px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.arrow{
    width: 24px;
    height: 24px;
}

.btn-confirm{
    display: flex;
    width: 362px;
    height: 52px;
    padding: 16px 132px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--Primary8, #DF2E4D );
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    color: var(--neutral1, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.5px;
}

    .btn-pagarentrega{
        display: flex;
        width: 362px;
        height: 52px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 32px;
        border: 1.5px solid var(--Secondary8, #DF2E4D);
        color: var(--Secondary8, #DF2E4D);
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.5px;
    }

    .botoes{
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

    .btn-pagarentrega:hover{
        scale: 1.02;
        transition: 0.3s;
    }

    .btn-confirm:hover{
        scale: 1.02;
        transition: 0.3s;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }